head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(content='width=device-width, initial-scale=1.0' name='viewport')
  meta(name='theme-color' content='#ffffff')

  meta(property='og:type' content=content=vars.og_type)
  meta(property='og:title' content=content=vars.og_title)
  meta(property='og:url' content=vars.og_url)
  meta(property='og:image' content=vars.og_image)
  meta(property='og:description' content=vars.og_description)

  title=vars.title
  link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
  link(rel='icon', href='/favicon.ico', type='image/x-icon')
  link(href='css/style.min.css', rel='stylesheet')